* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
}



/* SIDE PANEL */
.side-panel {
    width: 300px;
    background: #fff;
    padding: 20px;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.user-details {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

.user-details p {
    color: gray;
}

.stats {
    border-top: 1px solid #ddd;
    padding-top: 12px;
    width: 100%;
}

.stats div {
    display: flex;
    gap: 4px;
}

.stats span {
    font-weight: bold;
}

.btns {
    display: flex;
    flex-direction: column;
    align-items: normal;
    gap: 10px;
}

#LogoutBtn,
#editProfileBtn {
    padding: 5px 20px;
    background: transparent;
    border: 1px solid black;
    border-radius: 6px;
}

#LogoutBtn:hover,
#editProfileBtn:hover {
    box-shadow: 0 4px black;
}


/* INPUT OPEN MODEL */
.post-container {
    margin-left: 320px;
    width: 55%;
    display: flex;
    justify-content: center;
    padding: 20px;
    flex-direction: column;
    gap: 40px;
}

.post-update {
    padding: 13px 20px;
    background: white;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 24px;
    border: 1px solid black;
    cursor: pointer;
}

.post-update:hover {
    background-color: #dcd8d8;
    border-color: gray;
}

/* ALL POSTS */
#allPosts {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.noPostHeading {
    text-align: center;
}

.content_posts {
    border: 2px solid gray;
    border-radius: 15px;
    box-shadow: 5px 5px 8px 2px gray;
}

.profile {
    display: flex;
    gap: 15px;
    padding: 15px;
    justify-content: flex-start;
}

.profile_img img {
    width: 45px;
    border-radius: 50%;
    height: 45px;
}

.profile_content h1 {
    font-size: 25px;
}

.profile_content h4 {
    font-size: 13px;
}

hr {
    display: flex;
    width: 96%;
    margin: 0 auto;
}

.post_content p {
    padding: 15px 21px;
    line-break: normal;
    line-height: 1.5;
}

.post_content img {
    width: 99.7%;
    height: 20.9rem;
    border-bottom-right-radius: 14px;
    border-bottom-left-radius: 14px;
}


/* POST MODAL */
#postModel {
    animation: scaleIn 0.3s ease-in-out;
}

.posting {
    display: none;
}

#postModel,
#preview_Post,
#edit_profile_whole {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    animation: scaleIn 0.3s ease-in-out;
}

.postModel,
.preview_Post,
#editProfile {
    width: 53%;
    position: absolute;
    background: white;
    left: 332px;
    top: 12%;
    border-radius: 15px;
    padding: 0px 30px;
    transition: all 0.3s ease;
}

#crossBtn {
    font-size: 30px;
    font-weight: 700;
    cursor: pointer;
    justify-content: end;
    padding: 10px 0;
    margin: 0;
    text-align: end;
}

.postModel textarea {
    padding: 18px;
    border-radius: 16px;
    border: 1px solid black;
    width: 100%;
}

.postModel textarea:focus {
    outline: none;
}

.post_opt {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
}

.fileInputPost {
    display: flex;
    align-items: center;
    gap: 7px;
}

.fileInputPost label {
    font-size: 35px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 43px;
    border-radius: 21px;
}

.fileInputPost label:hover {
    border: 1px solid black;
    background-color: black;
    color: white;
}

#ImgName {
    font-size: 19px;
}

#postBtn,
#backPreview,
.preview_post_btn {
    font-size: 16px;
    padding: 6px 23px;
    background: transparent;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
}

#postBtn:active {
    transform: translateY(1px);
}

/* Animations */
@keyframes scaleIn {
    0% {
        transform: scale(0.95);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}


/* POST PREVIEW MODAL */
.preview_content-post {
    border-radius: 15px;
    box-shadow: 5px 5px 8px 2px gray;
    margin: 17px 0;
}

#previewImage {
    display: none;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-radius: 0;
}

#backPreview {
    margin: 10px 0;
    position: relative;
    left: 44%;
}


/* EDIT PROFILE MODAL */
#editProfile {
    background: white;
    width: 33%;
    left: 34%;
    top: 4%;
    padding: 40px 25px;
}


.input-group input,
.input-group textarea {
    width: 100%;
    border: 1px solid #ccc;
    color: #757575;
    padding: 15px 20px;
    border-radius: 23px;
    outline: none;
}

.input-group label {
    display: block;
    border-radius: 23px;
}

input[type="file"] {
    display: none;
}

.upload-icon {
    display: inline-block;
    text-align: left;
    width: 100%;
    padding: 15px 0px 15px 11px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    background: #ffffff;
    color: #757575;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin: 10px 0;
}

.ImgView {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

#previwProfilePic {
    width: 200px;
    border-radius: 100px;
}

#submitEditBtn,
#cancelEditBtn {
    padding: 10px 20px;
    background: transparent;
    border: 1px solid black;
    border-radius: 6px;
    margin-top: 12px;
}

#postBtn:hover,
#submitEditBtn:hover,
#cancelEditBtn:hover {
    box-shadow: 0 4px black;
}

/* MENU BTN */
#menuBtn {
    display: none;
    position: absolute;
    top: 27px;
    left: 10px;
    width: 45px;
    height: 47px;
    border-radius: 25px;
}

#closeMenuBtn {
    display: none;
    position: absolute;
    right: 12px;
}

/* MEDIA QUERY */
@media screen and (max-width: 900px) {
    .side-panel {
        width: 270px;
    }

    .post-container {
        width: 60%;
        margin-left: 290px;
    }
}

@media screen and (max-width: 700px) {
    .side-panel {
        width: 230px;
        padding: 20px 10px;
    }

    .user-details p:first-of-type {
        font-weight: 800;
    }

    .user-details p {
        font-size: 14px;
        padding: 0;
    }

    .post-container {
        width: 100%;
        margin-left: 245px;
    }

    .profile_content h1 {
        font-size: 21px;
    }

    .post_content p {
        font-size: 13px;
    }

    .post_content img {
        height: 15rem;
    }

    .postModel,
    .preview_Post,
    #editProfile {
        width: 60%;
        left: 185px;
    }
}

@media screen and (max-width: 550px) {
    .side-panel {
        width: 230px;
        padding: 20px 10px;
        left: -15rem;
    }

    .post-update {
        margin-left: 45px;
    }

    .post-container {
        margin-left: 0;
    }

    #menuBtn {
        display: block;
    }

    .post-update p {
        font-size: 14px;
    }

    #closeMenuBtn {
        display: block;
    }

    .postModel,
    .preview_Post,
    #editProfile {
        width: 80%;
        left: 9%;
    }

    #preview_Post {
        left: 3rem;
        width: 80%;
    }
}

@media screen and (max-width: 425px) {

    #postBtn,
    #backPreview,
    .preview_post_btn {
        font-size: 16px;
        padding: 4px 15px;
    }

    .post_opt {
        flex-wrap: wrap;
    }
}