* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    margin: 0;
}

.login-container {
    background: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 300px;
    text-align: center;
}

.login-container h2 {
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input,
.input-group textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #757575;
}

#signupBtn,
#loginBtn {
    width: 100%;
    padding: 10px;
    background: #007bff;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

#loginBtn:hover,
#signupBtn:hover {
    background: #0056b3;
}

.upload-icon {
    display: inline-block;
    text-align: left;
    width: 100%;
    padding: 15px 0px 15px 11px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    background: #ffffff;
    color: #757575;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin: 10px 0;
}

input[type="file"] {
    display: none;
}

.routing{
    margin-top: 10px;
}